{% extends 'header.html' %}
{% block body %}
      {% load static %}
      {% include 'menu3.html' with picture=projes.picture%}
      {% include 'navbar.html' with picture=userss.picture  orthophoto=orthophoto static=static images_info=images_info%}
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""></script>

      <script src="https://unpkg.com/georaster"></script>
      <script src="https://unpkg.com/proj4"></script>
      <script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
      <style>
        #map {

            width:100%;
            height: 90vh;
        }

        .leaflet-container {
            width:100%;
            height: 90vh;
        }

        </style>

        <div id="wrapper">
            <div class="main-content">
                {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong>Hata!</strong> {{ error }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Kapat">
                            <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                {% endif %}
                  <div class="row small-spacing">
<div id="map" data-geotiff-url="{% if orthophoto.path is not None %}{% static orthophoto.path %}{% else %}{% static orthophoto.odm_orthophoto %}{% endif %}"></div>
                  </div>
                  </div>
                </div>


<script src="{% static 'assets/scripts/map-init.js' %}"></script>


{% endblock %}
