{% extends 'header.html' %}
{% block body %}
      {% load static %}
      {% include 'menu.html' %}
      {% include 'navbar.html' with picture=userss.picture %}



<div id="wrapper">
      <div class="main-content">
            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Hata!</strong> {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Kapat">
                        <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            {% endif %}
            <div class="row small-spacing">
{% include 'form2.html' %}



</div>

      </div>
      <!-- /.main-content -->
</div><!--/#wrapper -->

{% endblock %}